

h1{
  color:red;
}

h1 + h1 + h1{
  color:green;
}
 .firstDiv{
   display: flex;
 }

.childDiv{
  width:50%;
  height:50%;
  color:white;
  background-color:red;
  border:5px solid black;
}

.childDiv:nth-of-type(2){
  background-color:magenta !important;
}
